[submodule "Test/gen/cpp_before/CompoMe"]
	path = Test/gen/cpp_before/CompoMe
	url = ../../ruhtra/compome.git
[submodule "Test/gen/cpp_before/CompoMe_Log"]
	path = Test/gen/cpp_before/CompoMe_Log
	url = ../../ruhtra/compome_log.git
[submodule "Test/gen/cpp_before/CompoMe_Tools"]
	path = Test/gen/cpp_before/CompoMe_Tools
	url = ../../ruhtra/compome_tools.git
[submodule "Test/gen/cpp_before/CompoMe_Async"]
	path = Test/gen/cpp_before/CompoMe_Async
	url = https://gitlab.marger.it:10443/ruhtra/compome_async
[submodule "Test/gen/cpp_before/CompoMe_Test"]
	path = Test/gen/cpp_before/CompoMe_Test
	url = https://gitlab.marger.it:10443/ruhtra/compome_test
