[submodule "Test/gen/cpp_before/CompoMe"]
	path = Test/gen/cpp_before/CompoMe
	url = ../../ruhtra/compome.git
[submodule "Test/gen/cpp_before/CompoMe_Log"]
	path = Test/gen/cpp_before/CompoMe_Log
	url = ../../ruhtra/compome_log.git
[submodule "Test/gen/cpp_before/CompoMe_Tools"]
	path = Test/gen/cpp_before/CompoMe_Tools
	url = ../../ruhtra/compome_tools.git
[submodule "Test/gen/cpp_before/CompoMe_Async"]
	path = Test/gen/cpp_before/CompoMe_Async
	url = https://gitlab.marger.it:10443/ruhtra/compome_async
[submodule "Test/gen/cpp_before/CompoMe_Test"]
	path = Test/gen/cpp_before/CompoMe_Test
	url = https://gitlab.marger.it:10443/ruhtra/compome_test
[submodule "Test/gen/cpp_before/CompoMe_Swig"]
	path = Test/gen/cpp_before/CompoMe_Swig
	url = https://gitlab.marger.it:10443/ruhtra/compome_swig
[submodule "Test/gen/cpp_before/CompoMe_Tcp"]
	path = Test/gen/cpp_before/CompoMe_Tcp
	url = https://gitlab.marger.it:10443/ruhtra/compome_tcp
[submodule "Test/gen/cpp_before/CompoMe_Udp"]
	path = Test/gen/cpp_before/CompoMe_Udp
	url = https://gitlab.marger.it:10443/ruhtra/compome_udp
[submodule "Test/gen/cpp_before/CompoMe_Zmq"]
	path = Test/gen/cpp_before/CompoMe_Zmq
	url = https://gitlab.marger.it:10443/ruhtra/compome_zmq
[submodule "Test/gen/cpp_before/CompoMe_Http"]
	path = Test/gen/cpp_before/CompoMe_Http
	url = https://gitlab.marger.it:10443/ruhtra/compome_http
[submodule "Test/gen/cpp_before/CompoMe_Https"]
	path = Test/gen/cpp_before/CompoMe_Https
	url = https://gitlab.marger.it:10443/ruhtra/compome_https
[submodule "Test/gen/cpp_before/CompoMe_Dbus"]
	path = Test/gen/cpp_before/CompoMe_Dbus
	url = https://gitlab.marger.it:10443/ruhtra/compome_dbus
[submodule "Test/gen/cpp_before/CompoMe_Esp32"]
	path = Test/gen/cpp_before/CompoMe_Esp32
	url = https://gitlab.marger.it:10443/ruhtra/compome_esp32
[submodule "doc"]
	path = doc
	url = https://gitlab.marger.it:10443/ruhtra/compo.wiki.git
