[submodule "Test/gen/cpp_before/CompoMe"]
	path = Test/gen/cpp_before/CompoMe
	url = ../../ruhtra/compome
[submodule "Test/gen/cpp_before/CompoMe_Log"]
	path = Test/gen/cpp_before/CompoMe_Log
	url = ../../ruhtra/compome_log
