<table>
  <tr>
  <td colspan="3" HREF="https://www.lapin.fr/C3">C3 {{ NAME}} </td>
  </tr>
  <tr>
  
      
      
    <td>
    <table BORDER="0">

        <tr>
          <td colspan="3">REQUIRE</td>
        </tr>

        
        <tr>
        <td HREF="https://www.lapin.fr/I1">I1</td>
          <td>c</td>
          <td PORT="c"></td>
        </tr>
        
        <tr>
        <td HREF="https://www.lapin.fr/I1">I1</td>
          <td>d</td>
          <td PORT="d"></td>
        </tr>
        

      </table>
      </td>

  </tr>

</table>
