<table>
  <tr>
  <td colspan="3" HREF="https://www.lapin.fr/C4">C4 {{ NAME}} </td>
  </tr>
  <tr>
  
      
    <td>
    <table BORDER="0">
        <tr>
          <td colspan="3">DATA</td>
        </tr>

        
        <tr>
        <td HREF="https://www.lapin.fr/I1_Dispatcher">I1_Dispatcher</td>
        <td>d</td>
        <td>={%- if "d" in WITH -%}
        {{WITH.d}}
        {%-else-%}
/*WARNING NO DEFAULT*/{%-endif-%}
          </td>
        </tr>
        

      </table>
      </td>
      
      
    <td>
    <table BORDER="0">

        <tr>
          <td colspan="3">REQUIRE</td>
        </tr>

        
        <tr>
        <td HREF="https://www.lapin.fr/I1">I1</td>
          <td>a</td>
          <td PORT="a"></td>
        </tr>
        

      </table>
      </td>

  </tr>

</table>
